<h2>Event binding</h2>

<button (click)="meuClick()">Click aqui</button>

<input type="text" (keyup)="digitou($event)">

<input #valorInput type="text" (keyup)="digitouVarTemplate(valorInput.value)">

<h3>Evento keyup para validação de senha</h3>
<input #qtdSenha type="password"  (keyup)="validaSenha(qtdSenha.value)">
<button [disabled]="!habilitarBotao" (click)="gravarSenha(qtdSenha.value)">Gravar senha</button>

<h3>Evento keyup.enter adicionar na lista</h3>
<input #conteudo type="text" (keyup.enter)="adicionar(conteudo.value); conteudo.value = ''">
<ul>
  <li *ngFor="let item of valores">{{ item }}</li>
</ul>

<h3>Blur</h3>
<input #data type="text" (blur)="verIdade(data.value)">
<p>Você tem {{ idade }} anos de idade</p>
